body {
  max-width: 1440px;
  background-color: #00B6C7;
  background-image: url(bg-pattern-top.svg), url(bg-pattern-bottom.svg);
  background-position: -450px -500px, 600px 450px;
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'Kumbh Sans', sans-serif;
  display: flex;
  flex-direction: column;
}

.name {
  padding-top: 50px;
  font-weight: 700;
  font-size: 18px;
}

.age, .city {
  color: #969696;
  font-weight: 400;
}

/* card header */
.row {
  margin: 10% 35%;
}

.card {
  border-radius: 0.75rem;
}

.card-pattern {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.profile-pic {
  width: 30%;
  border: 5px solid #fff;
  border-radius: 50%;
  position: absolute;
  left: 35%;
  top: 20%;
}

/* card body */
.numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.integer {
  font-weight: 700;
  font-size: 18px;
}

.info-child {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #969696;
  font-weight: 400;
  font-size: 0.85rem;
}

@media (max-width: 875px) {
  .profile-pic {
    position: absolute;
  }

  .row {
    margin: 15% 10%;
  }
}
